* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right,
            #006600 10%,
            #d6001c 50.66%,
            #ffcc29 100%);
}

img {
    height: 70px;
    padding: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.redes_sociais {
    padding: 20px;
}

.redes_sociais {
    padding: auto;
}

.redes_sociais i {
    padding: 5px;
}

.navbar {
    background: transparent
}

hr {
    border: none;
    height: 1.5px;
    background-color: black;
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.navbar_li {
    list-style: none;
}

.navbar_li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.cabecalho {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_cabecalho {}

.subtitulo_cabecalho {}

.cards {
    text-align: center;
    padding: 15px;
}

.cards_videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    object-fit: cover;
}

.cards_videos a {}

.cards_videos video {
    border: 2px solid black;
    border-radius: 50px;
    width: 600px;
    height: 400px;
    object-fit: cover;
}